.cssload-loader * {
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.cssload-loader {
    width: 1em;
    height: 1em;
    font-size: 94px;
    position: relative;
    display:block;
    margin: 31px auto;
}

.cssload-loader:before, .cssload-loader:after {
    content: "";
    top: 0;
    display: block;
    width: 1em;
    height: 1em;
    position: absolute;
    border-width: 0.5em;
    border-style: double;
    border-color: transparent;
    border-radius: 1em;
    box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    animation: spin 1.15s infinite;
    -o-animation: spin 1.15s infinite;
    -ms-animation: spin 1.15s infinite;
    -webkit-animation: spin 1.15s infinite;
    -moz-animation: spin 1.15s infinite;
}
.cssload-loader:after {
    left: 0;
    border-left-color: rgb(31,141,237);
}
.cssload-loader:before {
    right: 0;
    border-right-color: rgb(31,141,237);
    animation-delay: -0.29s;
    -o-animation-delay: -0.29s;
    -ms-animation-delay: -0.29s;
    -webkit-animation-delay: -0.29s;
    -moz-animation-delay: -0.29s;
}



@keyframes spin {
    from {
        transform: rotate(360deg);
    }
}

@-o-keyframes spin {
    from {
        -o-transform: rotate(360deg);
    }
}

@-ms-keyframes spin {
    from {
        -ms-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    from {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    from {
        -moz-transform: rotate(360deg);
    }
}

/* Correcion al input para la busqueda en datatable */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: searchfield-cancel-button;
}

/* Estilo para la ventana en proceso */
.dataTables_processing {
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    width: 250px !important;
    height: 80px !important;
    margin-left: -125px !important;
    margin-top: -15px !important;
    padding: 15px 0 30px 0 !important;
    border: 1px solid #ddd !important;
    text-align: center !important;
    color: #444 !important;
    font-size: 14px !important;
    background: url("../img/loading_bar.gif") no-repeat center 38px #fff !important;
    box-shadow: 2px 2px 5px #444 !important;
    -moz-box-shadow: 2px 2px 5px #444 !important;
    -webkit-box-shadow: 2px 2px 5px #444 !important;
    z-index: 9999 !important;
}

body {
    padding-right: 0 !important;
}

.dataTables_wrapper table.dataTable thead .sorting::before {
    opacity: 1 !important;
}

.emojionearea .emojionearea-editor:empty::before {
    content: attr(placeholder);
    display: block;
    color: #bbb;
    padding-top: 1em;
}

.vuebar-element {
    height: 300px !important;
}

.vb > .vb-dragger {
    z-index: 5;
    width: 12px;
    right: 0;
}

.vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0,0,0,0);
    transform: rotate3d(0,0,0,0);
    -webkit-transition:
            background-color 100ms ease-out,
            margin 100ms ease-out,
            height 100ms ease-out;
    transition:
            background-color 100ms ease-out,
            margin 100ms ease-out,
            height 100ms ease-out;
    background-color: rgba(48, 121, 244,.1);
    margin: 5px 5px 5px 0;
    border-radius: 20px;
    height: calc(100% - 10px);
    display: block;
}

.vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.3);
}

.vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
    margin: 0px;
    height: 100%;
}

.vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(48, 121, 244,.5);
}

.scrolling-wrapper-flexbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper-flexbox .card {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-right: 3px;
}

.border_fix {
    border: 1px solid #ecf1f9 !important;
}

.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.imgOverlay:hover .image {
    opacity: 0.3;
}

.imgOverlay:hover .middle {
    opacity: 1;
}

.checkbox-in-widget {
    padding-left: 1.142857em !important;
}

.centerTableImg > tbody > tr > td {
    vertical-align: middle !important;
}